Id:             'sas-ciser'
Description:    'sas-ciser - newlic'
Version:        '9.4'

Install:
    File:       '%INSTALL_DIR%\setup.exe'
    FileType:   'exe'
    Arguments:  '-quiet -wait -nomsupdate -responsefile %WINDIR%\Temp\sdwresponse.properties'
    ExitCodes:  [0,1641]

Applications:
    sas:
        DisplayName:    'SAS'
        Path:           '%PROGRAMFILES%\SASHome\SASFoundation\9.4\sas.exe'
        LaunchParams:   ''
        WorkDir:        ''

Files:
    '%TOOLS_DIR%\profile.sas7bcat': '%SYSTEMDRIVE%\Users\Default\Documents\My SAS Files\9.4\profile.sas7bcat'
    '%TOOLS_DIR%\profile2.sas7bcat': '%SYSTEMDRIVE%\Users\Default\Documents\My SAS Files\9.4\profile2.sas7bcat'
    '%TOOLS_DIR%\regstry.sas7bitm': '%SYSTEMDRIVE%\Users\Default\Documents\My SAS Files\9.4\regstry.sas7bitm'
