Id:             'mstar-eng'                ## Application package name ie. chrome-cornell
Description:    'mstar-eng'    ## Application packages description
Version:        '4.1.15'                     ## Application version number - MUST BE in #.# format

Install:                                    ## If there are installation files in a .zip to be installed, specify he 
  - File:       '%INSTALL_DIR%\msmpisdk.msi'   ## Installation file
    FileType:   'msi'                       ## exe or msi are the only options currently
    Arguments:  '/quiet /qn /norestart'        ## Silent installation switches/parmeters
    ExitCodes:  [0]                         ## Exit codes - returns a success       

  - File:       '%INSTALL_DIR%\mstarcfd-4.1.15-windows.msi'   ## Multiple installation files require '-' to specify an array of apps are to be installed
    FileType:   'msi'                       
    Arguments:  '/q'        
    ExitCodes:  [0]      

Applications:                                                       ## Applications to be published to the user / Added to Image Assistant
    mstarsolve:                                                      ## This must match the icons.png file name
        DisplayName:    'M-Star Solve'                ## How the app displayed to the user
        Path:           '%PROGRAMFILES%\M-Star CFD\mstar-solve-gui.exe'          ## The path to the app
        LaunchParams:   ''                     ## Launch parameters for the app
        WorkDir:        '' ## Working directory

    mstarpre:                                                      ## This must match the icons.png file name
        DisplayName:    'M-Star Pre'                ## How the app displayed to the user
        Path:           '%PROGRAMFILES%\M-Star CFD\mstar-gui.exe'          ## The path to the app
        LaunchParams:   ''                     ## Launch parameters for the app
        WorkDir:        '' ## Working directory
   
Files:                                                                  ## File copy feature
    '%INSTALL_DIR%\cornell1-ls64.rlmcloud.com.lic': '%PROGRAMFILES%\M-Star CFD\cornell1-ls64.rlmcloud.com.lic'
    '%INSTALL_DIR%\Cornell_PG_dye_particles.msb': '%PROGRAMFILES%\M-Star CFD\Cornell_PG_dye_particles.msb'    ## Source directory to destination directory
