Id:             'vault-coecis'
Description:    'Vault 2026b - COECIS'
Version:        '31.0.84.0'

Install:
  - File:       '%INSTALL_DIR%\Files\Installer.exe'
    FileType:   'exe'
    Arguments:  '-i deploy --offline_mode -q -o "%INSTALL_DIR%\Files\Collection.xml" --installer_version "2.15.0.532"'
    ExitCodes:  [0,1641]

  - File:       '%INSTALL_DIR%\Files\AdskSNActivationInstaller\AdskSNActivationInstaller.exe'
    FileType:   'exe'
    Arguments:  '-q'
    ExitCodes:  [0, 1641]

Applications:
    vault:
        DisplayName:    'Autodesk Vault Professional'
        Path:           '%PROGRAMFILES%\Autodesk\Vault Client 2026\Explorer\Connectivity.VaultPro.exe'
        LaunchParams:   ''
        WorkDir:        ''
        
Environment:
    ADSKFLEX_LICENSE_FILE: '%VAULT_LICENSE_FILE%'

Files:
    '%INSTALL_DIR%\Files\PLC0000004_2026_en-US\x64\VP\VaultOfficeProCombined.pit': '%PROGRAMDATA%\Autodesk\Product Information\VaultOfficeProCombined.pit'
    '%TOOLS_DIR%\en.json': '%SYSTEMDRIVE%\Users\Default\AppData\Roaming\Autodesk\ADPSDK\UserConsent\en.json'
    '%TOOLS_DIR%\en-US.json': '%SYSTEMDRIVE%\Users\Default\AppData\Roaming\Autodesk\ADPSDK\UserConsent\en-US.json'
    '%TOOLS_DIR%\UnNamed.json': '%SYSTEMDRIVE%\Users\Default\AppData\Roaming\Autodesk\ADPSDK\UserConsent\UnNamed.json'

Scripts:
    start:
        User: '%TOOLS_DIR%\startup.ps1' # Runs at system startup - Remove Autodesk updates

Registry:

    HKUD:
        SOFTWARE\Autodesk\MC3:
            ADAOptIn:
                Type:   'DWORD'
                Value:  '0'
                
            ADARePrompted:
                Type:   'DWORD'
                Value:  '1'

            OverridedByHKLM:
                Type:   'DWORD'
                Value:  '0'
                
    HKLM:
        Software\Autodesk\MC3:
            HKLMADAOptin:
                Type:   'DWORD'
                Value:  '0'

            HKLMADARePrompted:
                Type:   'DWORD'
                Value:  '1'
