body {
  background-color: #ececec;
  color: rgba(0, 0, 0, .87);
  font-family: -apple-system, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 20px;
  margin: 0;
  overflow: hidden;
}

a {
  color: #002eff;
  font-weight: normal;
  text-decoration: none;
}

#main-container {
  display: flex;
  flex-direction: column;
  height: 192px;
}

#about-header {
  align-items: center;
  background-color: white;
  border-bottom: 1px solid #cdcdcd;
  display: flex;
  height: 66px;
  overflow: hidden;
}

#about-header-text{
  display: flex;
  flex-direction:column;
  flex-grow: 1;
  margin: 13px 25px;
}

#title {
  font-size: 120%;
  font-weight: bold;
}

#logo {
  height: 74px;
  width: 74px;
}

#about-body {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
  padding: 0 25px;
}

#terms-of-service {
  margin-top: 15px;
}
