::-webkit-scrollbar {
  display: none;
}

*,
*:after,
*:before {
  box-sizing: border-box;
}

/**
 * Tags.
 */
body {
  background-color: #F9F9F9;
  font-family: 'Roboto', sans-serif;
  user-select: none;
}

button {
  float: right;
}

h3 {
  font-size: 16px;
  font-weight: 500;
  line-height: 1;
  margin: 0;
}

h4 {
  color: #858585;
  font-size: 13px;
  font-weight: 500;
  margin: 0 0 4px;
}

h5 {
  font-size: 12px;
  font-weight: 400;
  line-height: 1.2;
  margin: 0;
}

h6 {
  color: #858585;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.2;
  margin: 0;
}

/**
 * Layout
 */

nav {
  align-items: center;
  display: flex;
  height: 48px;
  white-space: nowrap;
}

nav.top-bar {
  padding: 0 8px;
}

nav.icon-only,
nav:only-child {
  height: 32px;
}

nav.with-border {
  border-bottom: 1px solid #EFEFEF;
}

nav h3 {
  margin: 0 8px;
}

nav .spacer {
  flex: 1;
}

nav .button-right {
  margin-left: 8px;
}

.nav-icon {
  height: 32px;
  padding: 2px;
  width: 32px ;
}

main {
  background-color: #F9F9F9;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.content {
  padding: 8px 16px;
}

.buttons {
  float: right;
}

.buttons .mdl-button {
  margin-bottom: 8px;
  margin-left: 8px;
}

p {
  margin-bottom: 8px;
}

/**
 * Page helpers
 */

.page {
  left: 0;
  position: absolute;
  top: 0;
  transition: 0.3s ease opacity; /* Animation timing! */
}

.page.page-hidden {
  display: none;
  opacity: 0;
  pointer-events: none;
}

/**
 * Editors / Heads
 */

.creator,
.heads {
  display: flex;
  margin-bottom: 8px;
}

*[data-link-target] {
  cursor: pointer;
}

.head {
  border: 1px solid white;
  border-radius: 50%;
  height: 32px;
  width: 32px;
}

.head:not(:first-child) {
  margin-left: -7px;
}

.more {
  background-color: #757575;
  border: 1px solid white;
  border-radius: 50%;
  color: white;
  font-size: 12px;
  height: 34px;
  line-height: 34px;
  margin-left: -7px;
  text-align: center;
  width: 34px;
}

/**
 * People list
 */

.page-wait_collaborators {
  overflow: scroll;
  padding-top: 48px;
}

.page-wait_collaborators nav {
  background: #F9F9F9;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
}

.page-wait_collaborators nav .mdl-tooltip {
  margin-left: -1rem;
  white-space: normal;
}

.page-wait_collaborators section.with-border {
  border-bottom: 1px solid #EFEFEF;
  margin-bottom: 8px;
}

.people-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.people-list .person {
  align-items: center;
  display: flex;
  margin: 0 0 16px;
}

.people-list .person img {
  border-radius: 50%;
  height: 40px;
  margin-right: 16px;
  width: 40px;
}

/**
 * Overriden icon colors.
 */

.page-private img.nav-icon,
.page-private_collapsed img.nav-icon {
  filter: grayscale(100);
}

/**
 * Other elements.
 */

.checkbox span {
  color: #757575;
  font-size: 14px;
}

.checkbox.mdl-checkbox.is-checked .mdl-checkbox__box-outline {
  border-color: #757575;
}

.checkbox.mdl-checkbox.is-checked .mdl-checkbox__tick-outline {
  background-color: #757575;
}

.checkbox .mdl-checkbox__ripple-container .mdl-ripple {
  background-color: #757575;
}

.mdl-progress {
  height: 8px;
  width: 100%;
}
