body {
  background-color: #ececec;
  display: flex;
}

body,
textarea {
  color: rgba(0, 0, 0, .87);
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
}

#main-layer,
#additional-info-layer {
  align-items: stretch;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  width: 100%;
}

#main-layer {
  padding: 16px;
}

#header {
  display: flex;
  margin-bottom: 16px;
}

#drive-logo {
  height: 48px;
  margin-right: 10px;
  width: 48px;
}

html[dir='rtl'] #drive-logo {
  margin-left: 10px;
  margin-right: 0;
}

#header-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#title {
  font-size: 15px;
  font-weight: bold;
}

#feedback-text {
  border-color: rgba(0, 0, 0, .26);
  border-radius: 2px;
  flex-grow: 1;
  outline: 0;
  padding: 8px;
  resize: none;
}

#feedback-text:focus {
  border-color: #1976d2;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, .3);
}

#feedback-text[disabled] {
  color: rgba(0, 0, 0, .54);
}

#legal-notice {
  color: rgba(0, 0, 0, .54);
  margin: 5px 0;
}

#attach-logs-label a,
#legal-notice a {
  color: #1976d2;
  font-weight: normal;
  text-decoration: none;
}

.mdl-checkbox__label {
  font-size: 13px;
}

.mdl-checkbox.is-checked .mdl-checkbox__box-outline {
  border-color: #1976d2;
}

.mdl-checkbox.is-checked .mdl-checkbox__tick-outline {
  background-color: #1976d2;
}

html[dir='rtl'] .mdl-checkbox.is-upgraded {
  padding-left: 0;
  padding-right: 24px;
}

html[dir='rtl'] .mdl-checkbox__box-outline,
html[dir='rtl'] .mdl-checkbox__focus-helper {
  left: auto;
  right: 0;
}

html[dir='rtl'] .mdl-checkbox__ripple-container {
  left: auto;
  right: -10px;
}

#additional-info-header {
  align-items: center;
  border-bottom: 1px solid #e0e0e0;
  display: flex;
  padding: 10px 8px 8px;
  min-height: 32px;
}

#additional-info-back-button {
  font-size: 0;  /* Vertically align the SVG in the button. */
}

#additional-info-back-button-icon {
  height: 24px;
  width: 24px;
}

html[dir='rtl'] #additional-info-back-button-icon {
  transform: scale(-1, 1);
}

#additional-info-title {
  font-size: 18px;
  margin: 0 10px;
}

#additional-info-list {
  background: white;
  flex-grow: 1;
  overflow-y: auto;
  padding: 8px 16px;
}

.additional-info-list-item-key {
  font-weight: bold;
}

.additional-info-list-item-value {
  margin: 0 1em;
}

#footer {
  align-items: center;
  display: flex;
}

.submit-message {
  flex-grow: 1;
}

.button {
  font-weight: normal;
  height: 34px;
  margin-left: 16px;
  min-width: 90px;
}

html[dir='rtl'] .button {
  margin-left: 0;
  margin-right: 16px;
}

#close-button {
  background-color: #1976d2;
  color: #fff;
}

#cancel-button {
  color: #1976d2;
}

#submit-button {
  background-color: #1976d2;
  color: #fff;
}

#submit-button[disabled] {
  background-color: #c6c6c6;
  color: rgba(0, 0, 0, .26);
}
