html,
body,
div {
  display: flex;
  margin: 0;
  vertical-align: baseline;
}

body {
  background: #333;
  line-height: 1;
  overflow: hidden;
}

#onboarding {
  background-color: #2b76f9;
  height: 100%;
  position: absolute;
  width: 100%;
}

#below-image {
  display: block;
  height: 100%;
  position: absolute;
  top: 65%;
  width: 100%;
  z-index: 1;
}

#player-wrap {
  transition: opacity 0.2s;
}

#forward,
#back {
  background: #fff;
  border-radius: 50%;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.298039) 0px 2px 2px 1px;
  cursor: pointer;
  height: 50px;
  outline: none;
  position: absolute;
  top: 45.3%;
  transition: all 0.2s;
  width: 50px;
  z-index: 1;
}

#forward {
  right: 25px;
}

html[dir='rtl'] #forward {
  left: 25px;
  right: auto;
  transform: scaleX(-1);
}

#back {
  left: 25px;
}

html[dir='rtl'] #back {
  left: auto;
  right: 25px;
  transform: scaleX(-1);
}

#forward svg,
#back svg {
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-12px, -12px);
}

#forward:hover,
#back:hover,
#forward:focus,
#back:focus {
  box-shadow: rgba(0, 0, 0, 0.298039) 0px 4px 4px 1px;
}

#forward:active,
#back:active {
  background: #eee;
  box-shadow: rgba(0, 0, 0, 0.298039) 0px 2px 2px 1px;
  transform: scale(0.95);
}

#forward:disabled,
#back:disabled {
  opacity: 0;
  visibility: hidden;
}

#open {
  background: #fff;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.298039) 0px 2px 2px 1px;
  color: #1b51a2;
  display: block;
  font-family: Roboto, sans-serif;
  font-size: 14px;
  font-weight: 500;
  margin: 40px auto auto auto;
  padding: 9px 50px 9px 50px;
  text-transform: uppercase;
  transition: all 0.3s;
}

#open:disabled {
  opacity: 0;
  visibility: hidden;
}

#open:hover,
#open:focus {
  box-shadow: rgba(0, 0, 0, 0.298039) 0px 4px 4px 1px;
}

#open:active {
  background: #eee;
  box-shadow: rgba(0, 0, 0, 0.298039) 0px 2px 2px 1px;
}

#text {
  color: #fff;
  font-family: Roboto, sans-serif;
  font-size: 22px;
  font-weight: 400;
  height: 12%;
  line-height: 36px;
  margin: auto;
  opacity: 1;
  text-align: center;
  transition: opacity 0.4s;
  width: 70%;
}

#text.fade {
  opacity: 0;
}

.circles {
  justify-content: center;
  margin-top: 30px;
}

.circle {
  fill: #FFFFFF;
  fill-opacity: 1;
  fill-rule: evenodd;
  opacity: 0.54;
  stroke: none;
  stroke-width: 1;
}

.circle.active {
  opacity: 1;
}

svg + svg {
  margin-left: 8px;
}
