#header-bar {
  align-items: center;
  background-color: #eee;
  border-bottom: 1px solid #e0e0e0;
  display: flex;
  height: 49px;
}

#user-img {
  border-radius: 50%;
  height: 24px;
  padding: 12px 10px;
  width: 24px;
}

#user-name-email {
  flex-grow: 1;
  letter-spacing: .02em;
  line-height: normal;
  overflow: hidden;
}

#user-name {
  margin-bottom: 2px;
}

#user-email:focus {
  outline-width: 0;  /* Override default focus behavior. */
}

.primary-font {
  color: #212121;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.secondary-font {
  color: #666;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.mdl-button--icon {
  font-size: 0;
  min-width: 24px;
  padding: 0;
}

.mdl-tooltip {
  /* Bug in chrome causes blurriness if using the default value of will-change: transform */
  will-change: unset;
}

#menu-button {
  margin-left: 6px;
  margin-right: 12px;
}

html[dir='rtl'] #menu-button {
  margin-left: 12px;
  margin-right: 6px;
}

.mdl-menu__item {
  color: #212121;
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
  height: 24px;
  line-height: 24px;
  padding: 0 24px;
}

html[dir='rtl'] .mdl-menu__item {
  text-align: right;
}

li.separator {
  border-top: 1px solid rgba(0, 0, 0, .12);
  margin-bottom: 6px;
  margin-top: 5px;
  user-select: none;
}

#main {
  background-color: white;
  flex-grow: 1;
}

#main:focus {
  outline-width: 0;    /* Override default focus behavior. */
}

#loading-pane {
  margin: 15px auto;
  width: 28px;
}

#sign-in-pane {
  margin-top: 50px;
  text-align: center;
}

#sign-in-img {
  border-radius: 8%;
  height: 68px;
  width: 68px;
}

#full-product-name {
  color: #666;
  font-family: 'Product Sans', Arial, Helvetica, sans-serif;
  font-size: 22.1px;
  padding: 15px 20px;
  text-rendering: optimizeLegibility;
}

#sign-in-button {
  background-color: #1976d2; /* Blue 700 */
  color: #fff;
  margin: 22px;
}

#status-bar {
  align-items: center;
  background-color: #eee;
  bottom: 0;
  box-sizing: border-box;
  display: flex;
  height: 30px;
  padding: 0 12px;
  position: absolute;
  width: 100%;
}

#status-bar-message {
  letter-spacing: 0;
  line-height: 16px;
}

#up-to-date-icon,
#quota-exceeded-icon {
  margin-left: 10px;
}

html[dir='rtl'] #up-to-date-icon,
html[dir='rtl'] #quota-exceeded-icon {
  margin-left: 0;
  margin-right: 10px;
}

#quota-exceeded-icon {
  height: 20px;
  width: 20px;
}

#activity-list {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.activity-list-item {
  align-items: center;
  display: flex;
  height: 50px;
}

.activity-list-item-icon {
  height: 24px;
  margin: 12px 10px;
  width: 24px;
}

.activity-list-item-bottom-border {
  border-bottom: 1px solid #e3e3e3;
  display: flex;
  width: 306px;
}

.activity-list-item-description {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  height: 49px;
  justify-content: center;
  overflow: hidden;
}

.activity-list-item-description-primary,
.activity-list-item-description-secondary {
  line-height: 18px;
}

.activity-list-item-status {
  align-items: center;
  border-radius: 50%;
  display: flex;
  height: 24px;
  justify-content: center;
  margin: 12px 16px;
  min-width: 24px;
  position: relative;
  overflow: hidden;
}

.activity-list-item-circle {
  border-radius: 50%;
  border: 2.5px solid #1976d2;  /* Blue 700 */
  height: 19px;
  position: absolute;
  transition: border 500ms;
  width: 19px;
}

.activity-list-item-circle.is-active {
  border-color: #90caf9;  /* Blue 200 */
}

svg.activity-list-item-queued-download,
svg.activity-list-item-queued-upload {
  fill: #1976d2;
  height: 20px;
  position: absolute;
  transition: transform 700ms ease-in 200ms;
  width: 20px;
}

svg.activity-list-item-queued-download.is-active {
  transform: translate(0, 24px);
}

svg.activity-list-item-queued-upload.is-active {
  transform: translate(0, -24px);
}

.activity-list-item-progress-spinner {
  position: absolute;
}

.mdl-spinner {
  height: 24px;
  width: 24px;
}

html[dir='rtl'] .mdl-spinner {
  /* Progress indicators spinning clockwise should not be mirrored. */
  direction: ltr;
}

.mdl-spinner--single-color .mdl-spinner__layer-1,
.mdl-spinner--single-color .mdl-spinner__layer-2,
.mdl-spinner--single-color .mdl-spinner__layer-3,
.mdl-spinner--single-color .mdl-spinner__layer-4 {
  border-color: #1976d2;
}

.mdl-spinner__circle {
  border-width: 2.5px;
}

