Id:             'base-cornellstream'
Description:    'Base Items for Cornell Apps on Demand'
Version:        '1.0.0'

Applications:
    Procexp:
        DisplayName:    'Process Explorer'
        Path:           '%WINDIR%\System32\WindowsPowerShell\v1.0\powershell.exe'
        LaunchParams:   '-File %WINDIR%\system32\Kill_Process.ps1'
        WorkDir:        ''

    Explorer:
        DisplayName:    'File Explorer'
        Path:           '%WINDIR%\explorer.exe'
        LaunchParams:   'Z:'
        WorkDir:        ''

Files:
    '%TOOLS_DIR%\gmdb.blb': '%SYSTEMDRIVE%\Users\Default\AppData\Local\AMD\CN\gmdb.blb' # AMD GPU
    '%TOOLS_DIR%\ProcmonConfiguration.pmc': '%SYSTEMDRIVE%\Procmon\ProcmonConfiguration.pmc'
    '%TOOLS_DIR%\defaultassociations.xml': '%SYSTEMDRIVE%\windows\system32\defaultassociations.xml'
    '%INSTALL_DIR%\Kill_Process.ps1': '%SYSTEMDRIVE%\windows\system32\Kill_Process.ps1'
   # '%INSTALL_DIR%\Prewarm\*': '%ALLUSERSPROFILE%\Amazon\Photon\Prewarm'
    '%TOOLS_DIR%\update_windefend.ps1': '%SYSTEMDRIVE%\windows\TEMP\update_windefend.ps1'
    
Scripts:
    start:
        System: '%TOOLS_DIR%\startup.ps1' # Runs at system startup

Registry:
    HKUD:
        Software\Autodesk\ODIS Folder: # Show file extensions
            DisableManualUpdateInstall:
                Type:   'DWORD'
                Value:  '1'             
        
        Software\Microsoft\Windows\CurrentVersion\Explorer\Advanced: # Show file extensions
            HideFileExt:
                Type:   'DWORD'
                Value:  '0'
            
        Software\Microsoft\Active Setup\Installed Components\{A509B1A7-37EF-4b3f-8CFC-4F3A74704073}:
            ComponentID:
                Type:   'String'
                Value:  'IEHardenAdmin'

            IsInstalled:
                Type:   'DWORD'
                Value:  '0'

        Software\Microsoft\Active Setup\Installed Components\{A509B1A8-37EF-4b3f-8CFC-4F3A74704073}:
            ComponentID:
                Type:   'String'
                Value:  'IEHardenUser'

            IsInstalled:
                Type:   'DWORD'
                Value:  '0'

        Software\Microsoft\Windows\CurrentVersion\Internet Settings\ZoneMap:
            IEHarden:
                Type:   'DWORD'
                Value:  '0'

        Software\Microsoft\Windows\CurrentVersion\Internet Settings:
            WarnonZoneCrossing:
                Type:   'DWORD'
                Value:  '0'

        Software\Microsoft\Windows\CurrentVersion\Internet Settings\Zones\0:
            1201: #stop popups for unsafe activex controls
                Type:   'DWORD'
                Value:  '0'

        Software\Microsoft\Windows\CurrentVersion\Internet Settings\Zones\3:
            1200: #stop popups for unsafe activex controls
                Type:   'DWORD'
                Value:  '0'            
            
            1201: #stop popups for unsafe activex controls
                Type:   'DWORD'
                Value:  '0' 
                       
            1803: # Enable file downloads
                Type:   'DWORD'
                Value:  '0'
                
            1400: # Enable active scripting (two factor processing)
                Type:   'DWORD'
                Value:  '0'
                
            1608: # Allow META REFRESH (some URL redirects)
                Type:   'DWORD'
                Value:  '0'
                
            1A10: # Allow cookies with security (https://support.microsoft.com/en-us/help/182569/internet-explorer-security-zones-registry-entries-for-advanced-users)
                Type:   'DWORD'
                Value:  '1'
                
    HKLM: 
        Software\SOFTWARE\Autodesk\Desktop Connector\AdvancedSettings:
            SuppressGettingStartedDialogOnFirstRun:
                Type:   'DWORD'
                Value:  '1'         
          
        Software\Policies\Microsoft\Edge:
            HideFirstRunExperience:
                Type:   'DWORD'
                Value:  '1' 
      
        Software\Policies\Google\Chrome:
            BrowserGuestModeEnforced:
                Type:   'DWORD'
                Value:  '1'  

            HomepageLocation:
                Type:   'String'
                Value:  'https://it.cornell.edu/students'  

            HomepageIsNewTabPage:
                Type:   'DWORD'
                Value:  '0'

        Software\Policies\Google\Update:
            Update{8A69D345-D564-463C-AFF1-A69D9E530F96}:
                Type:   'DWORD'
                Value:  '0'
                
        Software\Policies\Microsoft\Internet Explorer\Main:
            DisableFirstRunCustomize:
                Type:   'DWORD'
                Value:  '1'
                
        SYSTEM\CurrentControlSet\Control\TimeZoneInformation:
             TimeZoneKeyName:
                 Type:   'String'
                 Value:  'Eastern Standard Time'

        Software\Microsoft\Windows\CurrentVersion\App Paths\EXPLORER.EXE:
             DontUseDesktopChangeRouter:
                 Type:   'DWORD'
                 Value:  '1'