Id:             'inventor-coecis'
Description:    'Autodesk Inventor 2026'
Version:        '2026.2.1.0'

Install:
  - File:       '%INSTALL_DIR%\image\Installer.exe'
    FileType:   'exe'
    Arguments:  '-i deploy --offline_mode -q -o "%INSTALL_DIR%\image\Collection.xml" --installer_version "2.21.0.646"'
    ExitCodes:  [0, 1641, 3010]

  - File:       '%INSTALL_DIR%\AdskSNActivationInstaller\AdskSNActivationInstaller.exe'
    FileType:   'exe'
    Arguments:  '-q'
    ExitCodes:  [0, 1641]    

Applications:
    Inventor:
        DisplayName:    'Inventor 2026'
        Path:           '%PROGRAMFILES%\Autodesk\Inventor 2026\Bin\Inventor.exe'
        LaunchParams:   ''
        WorkDir:        ''
        
Environment:
    ADSKFLEX_LICENSE_FILE: '%INVENTOR_LICENSE_FILE%'

Files:
    '%INSTALL_DIR%\image\INVPROSA_2026_en-US\x64\INV\InventorProfessionalConfig.pit': '%PROGRAMDATA%\Autodesk\Product Information\InventorProfessionalConfig.pit'
    '%TOOLS_DIR%\AddInLoadRules.xml': '%PROGRAMFILES%\Autodesk\Inventor 2026\Preferences\AddInLoadRules.xml'
    '%TOOLS_DIR%\UserApplicationOptions.xml': '%SYSTEMDRIVE%\Users\Default\AppData\Roaming\Autodesk\Inventor 2026\UserApplicationOptions.xml'
    '%TOOLS_DIR%\myhome.json': '%SYSTEMDRIVE%\Users\Default\AppData\Roaming\Autodesk\Inventor 2026\myhome.json'

Scripts:
    start:
        User: '%TOOLS_DIR%\startup.ps1' # Runs at system startup
        
Registry:
    HKUD:
        Software\Autodesk\MC3:
            ADAOptIn:
                Type:   'DWORD'
                Value:  '0'

            ADARePrompted:
                Type:   'DWORD'
                Value:  '1'

    HKLM:
        Software\Autodesk\MC3:
            HKLMADAOptin:
                Type:   'DWORD'
                Value:  '0'

            HKLMADARePrompted:
                Type:   'DWORD'
                Value:  '1'

        Software\Policies\Microsoft\Windows\Installer: # Allow standard user to run repair
            DisableLUAInRepair:
                Type:   'DWORD'
                Value:  '1'
