Id:             'googledrivefilestream-cornell'                ## Application package name ie. chrome-cornell
Description:    'Google Drive'    ## Application packages description
Version:        '53.0.8.0'                     ## Application version number - MUST BE in #.# format

Install:                                    ## If there are installation files in a .zip to be installed, specify here
  - File:       '%INSTALL_DIR%\GoogleDriveSetup.exe'   ## Multiple installation files require '-' to specify an array of apps are to be installed
    FileType:   'exe'                       
    Arguments:  '--silent --gsuite_shortcuts=false'        
    ExitCodes:  [0]             
    
Applications:                                                       ## Applications to be published to the user / Added to Image Assistant
    googledrivefilestream:                                                      ## This must match the icons.png file name
        DisplayName:    'Google Drive'                ## How the app displayed to the user
        Path:           '%PROGRAMFILES%\Google\Drive File Stream\53.0.8.0\GoogleDriveFS.exe'          ## The path to the app
        LaunchParams:   ''                     ## Launch parameters for the app
        WorkDir:        '' ## Working directory
