Id:             'solidworks-coecis'
Description:    'SOLIDWORKS 2025a - COECIS'
Version:        '33.0.0.5050'

Install:
  - File:       '%INSTALL_DIR%\SOLIDWORKS\solidworks.msi'
    FileType:   'msi'
    Arguments:  'ENABLEPERFORMANCE=0 INSTALLDIR="%PROGRAMFILES%\SOLIDWORKS Corp\SOLIDWORKS" OFFICEOPTION=2 SERVERLIST=%LICENSE_SERVER% SOLIDWORKSSERIALNUMBER=%LICENSE_KEY% TOOLBOXFOLDER="C:\SOLIDWORKS Data" ADDLOCAL=SolidWorks,SolidWorksToolbox /qn /norestart'
    ExitCodes:  [0]
    
  - File:       '%INSTALL_DIR%\swloginmgr\SOLIDWORKS Login Manager.msi'
    FileType:   'msi'
    Arguments:  '/qn /norestart'
    ExitCodes:  [0]
    
  - File:       '%INSTALL_DIR%\SOLIDWORKS Composer\SolidWorks Composer.msi'
    FileType:   'msi'
    Arguments:  '/qn /norestart'
    ExitCodes:  [0]

  - File:       '%INSTALL_DIR%\SOLIDWORKS Visualize\solidworks visualize.msi'
    FileType:   'msi'
    Arguments:  '/qn /norestart SERVERLIST=%LICENSE_SERVER%'
    ExitCodes:  [0]
  
  - File:       '%INSTALL_DIR%\eDrawings\eDrawings.msi'
    FileType:   'msi'
    Arguments:  '/qn /norestart ADDLOCAL=All LOGPERFORMANCE=0 SNLSERVER=%LICENSE_SERVER% INSTALLDIR="%PROGRAMFILES%\SOLIDWORKS Corp\eDrawings"'
    ExitCodes:  [0]

Applications:
    SLDWORKS:
        DisplayName:    'SOLIDWORKS 2025'
        Path:           '%PROGRAMFILES%\SOLIDWORKS Corp\SOLIDWORKS\SLDWORKS.exe'
        LaunchParams:   ''
        WorkDir:        ''

    composerplayer:
        DisplayName:    'SOLIDWORKS Composer Player'
        Path:           '%PROGRAMFILES%\SOLIDWORKS Corp\Composer\bin\composerplayer.exe'
        LaunchParams:   ''
        WorkDir:        ''
        
    composer:
        DisplayName:    'SOLIDWORKS Composer'
        Path:           '%PROGRAMFILES%\SOLIDWORKS Corp\Composer\bin\composer.exe'
        LaunchParams:   ''
        WorkDir:        ''
        
    SLDWORKSVisualize:        
        DisplayName:    'SOLIDWORKS Visualize'        
        Path:           '%PROGRAMFILES%\SOLIDWORKS Corp\SOLIDWORKS Visualize\SLDWORKSVisualize.exe'
        LaunchParams:   ''
        WorkDir:        ''

    eDrawings:
        DisplayName:    'SOLIDWORKS eDrawings'
        Path:           '%PROGRAMFILES%\SOLIDWORKS Corp\eDrawings\eDrawings.exe'
        LaunchParams:   ''
        WorkDir:        ''
        
    toolbox:
        DisplayName:    'Toolbox Settings 2025'
        Path:           '%PROGRAMFILES%\SOLIDWORKS Corp\SOLIDWORKS\SldToolboxConfigure.exe'
        LaunchParams:   ''
        WorkDir:        ''

Files: 
    '%TOOLS_DIR%\solidworks-accept-eula.ps1': '%ALLUSERSPROFILE%\solidworks-accept-eula.ps1'
    '%TOOLS_DIR%\SolidWorks\*': '%SYSTEMDRIVE%\Users\Default\AppData\Local'

Services:                   ## Set default service behavior
 #   RemoteSolverDispatcher: 'Manual'   ## ServiceName: Behavior
    SWVisualize2025.Queue.server: 'Manual'

Scripts:
    start:
        User: '%TOOLS_DIR%\solidworks-accept-eula.ps1' # Runs at user login
